<div class="row mt-3">
    <div class="col-md-5">
        <div class="form-group">
            <label for="first Name">First Name</label>
            <input type="text" class="form-control" #fname>
        </div>
        <div class="form-group">
            <label for=" lastName">Last Name</label>
            <input type="text" class="form-control" #lname>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" #email>
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" #contact>
        </div>
        <div class="text-right">
            <button class="btn btn-primary"
        (click)="onStdAdd(fname,lname,email,contact)"
        >Add Student</button>
        </div>
    </div>

    <div class="col-md-7">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                <tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of stdArr; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>