<div class="row">
    <div class="col-md-6 mt-4">
        <div class="form-group">
            <label for="Todo Item">Todo Item</label>
            <input type="text" class="form-control" #todo>
        </div>
        <button class="btn btn-primary"
        (click)="onTodoAdd(todo)"
        >Add Todo</button>
    </div>
    <div class="col-md-6">
        <ul class="list-group mt-5">
            <li class="list-group-item" *ngFor="let todo of todoArr">{{todo.todoitem}}</li>
        </ul>
    </div>
</div>